/* linking google font-inter  */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box                ;
}

/* shared styles */

/* navbar styles starts here */

nav {
  width: 100%;
}

nav .nav_container {
  margin: 0 auto;
  max-width: 1200px;
  
}

nav a {
  font-size: 1rem;
  font-weight: 500;
}

nav button {
  padding: 12.5px 16px;
}

.hamburger {
  cursor: pointer;
  display: none;
}

/* banner styles starts here  */



/* banner styles ends here  */


/* responsive media query starts here */

/* small device */
 
@media screen and (max-width:576px) {

  /* nav starts here  */

  .large_device {
    display:none;
  }

  .hamburger {
    display: block;
  }

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    max-width: 400px;
    padding: 0 20px;  
  }
}