/* linking google font-inter  */

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box                ;
}

/* shared styles */

.badge,
.spotify,
.subscribe {
  cursor: pointer;
}


/* navbar styles starts here */

nav {
  width: 100%;
  max-width: 1600px;
}

nav .nav_container {
  margin: 0 auto;
  max-width: 1200px;
}

nav a {
  font-size: 1rem;
  font-weight: 500;
}

nav button {
  padding: 12.5px 16px;
}

.hamburger {
  /* cursor: pointer; */
  display: none;
}

.large_device {
  transition: all 0.5s ease-in;
}

.large_device:hover {
  transform: scale(1.07);
}

/* navbar styles ends here  */


/* banner styles starts here  */

#banner {
  border-top: 1px solid #412567;
  background: url(../assets/hero-bg.png);
  height: 760px;
  max-width: 1600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img_container {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 100%;
}

.microphone {
  position: absolute;
  top: 77px;
  left: 117px;
  bottom: 97px;
}

.badge {
  position: absolute;
  top: 12px;
  left: 252px;
  padding: 8px 16px;
  box-shadow: 0 3px 27px 0 #00ff8887;
}

.banner_text {
  margin-top: 40px;
}

.banner_text p {
  margin-top: 8px;
  margin-bottom: 24px;
}

.spotify {
  padding: 12.5px 19px;
  width: 204px;
  transition: all .5s ease-in;
}

/* hover effect  */

.spotify:hover {
  transform: scale(1.07);
}

.subscribe {
  border: 1px solid #00FF88;
  padding: 12.5px 20px;
  transition: transform .5s ease-in;
}

/* hover effect  */

.subscribe:hover {
  transform: scale(1.07);
  background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
  border: 1px solid transparent;
}

/* banner styles ends here  */


/* about section style starts here */

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about_text h1 {
  margin-top: 50px;
  margin-bottom: 16px;
}

.about_text .about_paragraph {
  line-height: 20px;
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  color: #FFFFFF;
}

.mobile {
  display: none;
}

.join {
  margin-top: 40px;
}

.about_container hr {
  width: 1200px;
  color: #FFFFFF;
  opacity: 0.1;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about_cards_bottom {
  margin-bottom: 120px;
}

.about_cards_bottom .about_card h1 {
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
}

.about_cards_bottom .about_card p {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  margin-top: 16px;
}


/* about section style ends here  */


/* choose section style starts here  */

.choose_container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.choose_container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

.choose_container .all_choose_cards .choose_card {
  background-color: rgba(53, 17, 101, 0.4);
}

.all_choose_cards .choose_card {
  border-radius: 40px;
}

.all_choose_cards .choose_card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 16px;
}

.all_choose_cards .choose_card p {
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 24px;
  opacity: 0.6;
}

.audio {
  grid-area: audio;
  padding: 107px 40px;
  max-width: 380px;
}

.friendly {
  grid-area: friendly;
  padding: 40px;
}

.community {
  grid-area: community;
  padding: 40px;
}

.interviews {
  grid-area: interviews;
  padding: 40px;
  width: 790px;
  height: 273px;
}

.resources {
  grid-area: resources;
  padding: 40px;
}

.choose_container .all_choose_cards {
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-areas:  
      "audio    friendly        friendly"
      "audio    community     community"
      "interviews  interviews resources";
}

/* choose section style ends here  */



/* featured section style starts here  */

.featured {
  padding-top: 120px;
  padding-bottom: 120px;
}

.featured .featured_upper {
  margin: 0 auto;
}

.featured_upper h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

.all_featured_cards {
  display: flex;
  gap: 30px;
}

.all_featured_cards .featured_card {
  border-radius: 25px;
  max-width: 380px;
  transition: transform .7s ease-out, background-color .7s ease-out .3s;
}

/* hover effect */

.featured_card:hover {
  transform: scale(1.1);
  background-color:#412567;
}

.all_featured_cards .featured_card iframe {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.all_featured_cards .featured_card .featured_card_text {
  padding: 24px;
}

.all_featured_cards .featured_card .featured_card_text .small_device {
  display: none;
}

.all_featured_cards .featured_card h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.all_featured_cards .featured_card .featured_card_description {
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  opacity: 0.6;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.all_featured_cards .featured_card .clock_and_time {
  font-weight: 600;
  font-size: 1rem;
  color: #00FF88;
  line-height: 24px;
  height: 24px;
  align-items: center;
  /* margin-bottom: 24px; */
}

.all_featured_cards .featured_card .featured_card_text .clock {
  width: 20px;
  height: 20px;
}



.featured .featured_lower {
  margin: 0 auto;
}

.featured_lower h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #FFFFFF;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.featured .featured_lower .host_img_and_details  {
  background-color: rgba(53, 17, 101, 0.4);
  align-items: center;
  border-radius: 40px; 
  padding-top: 40px;
  padding-bottom: 40px;
  transition: transform .7s ease-out;
}

/* hover effect */

.host_img_and_details:hover {
  transform: scale(1.1);
}

.featured_lower .host_img_and_details .host_details h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
}

.featured_lower .host_img_and_details .host_details p {
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 24px;
  opacity: 0.6;
  margin-top: 16px;
  margin-bottom: 16px;
}

.host_details .host_social_media a {
  width: 40px;
  height: 40px;
  border: 1px solid #533C72;
  border-radius: 100px;
}

.host_details .host_social_media .linkedin {
  padding: 10px;
}

.host_details .host_social_media .x {
  padding: 12.5px 12px 11.5px;
}

.host_details .host_social_media .instagram,
.host_details .host_social_media .youtube  {
  padding: 10.5px 10px 9.5px;
}

/* featured section style ends here  */



/* footer section style starts here  */

footer {
  height: 412px;
  background: url(../assets/footer-bg.png);
  padding: 120px;
  text-align: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer_container {
  margin: -27px auto;
}

.footer_social_media_container {
  /* margin-top: 32px; */
  margin-bottom: 32px;
}

.spotify_img,
.apple_podcast_img {
  width: 20px;
  height: 20px;
}

.youtube_img {
  width: 20px;
  height: 19px;
}

.twitter_img {
  width: 20.92px;
  height: 17px;
}

.footer_social_media_container .footer_social_media_each p {
  font-size: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer_social_media_each {
  align-items: center;
}

.footer_container .footer_bottom {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  opacity: 0.6;
  line-height: 24px;
}

/* footer section style ends here  */


/* responsive media query starts here */

/* small device starts here */
 
@media screen and (max-width:576px) {

  /* nav starts here  */

  .large_device {
    display:none;
  }

  .hamburger {
    display: block;
  }

  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    max-width: 400px;
    padding: 0 20px;  
  }

  .nav_container h1 {
    font-size: 1.75rem;
  }

  nav {
    height: 60px;
  }

  /* nav ends here */


  /* banner starts here  */

  #banner {
    background-position: center;
    background-size: cover;
    height: 470px;
  }

  .banner_content {
    margin: 40px 20px;
    height: 386px;
  }

  .img_container {
    width: 200px;
    height: 200px;
  }

  .microphone {
    top: 63px;
    left: 76px;
    bottom: 66px;
    width: 46px;
    height: 70px;
  }

  .badge {
    top: 4px;
    left: 130px;
  } 

  .banner_text {
    margin-top: 24px;
  }

  .banner_text h1 {
    font-size: 2.5rem;
  }

  /* banner ends here  */


  /* about section  starts here  */


  .about_container {
    width: 100%;
  }

  .about_text {
    margin: 40px 20px;
  }

  .about_text h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .mobile {
    display: block;
  }

  .large {
    display: none;
  }

  .join {
    margin-top: 16px;
  }

  .about_container hr {
    max-width: 400px;
    margin: 40px auto;
  }

  .about_cards_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 20px 40px;
  }

  .about_cards_bottom .about_card h1 {
    font-size: 2.5rem;
  }

  /* about section  ends here  */


  /* choose section starts here  */

  .choose_container {
    padding: 40px 20px;
  }

  .choose_container h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  
  .choose_container .all_choose_cards {
    grid-template-areas:  
        "audio"
        "friendly"
        "community"
        "interviews"
        "resources";

    gap: 16px;
    justify-items: center;  
  }

  .all_choose_cards .choose_card {
    padding: 24px;
    max-width: 400px;
    width: 100%;
    border-radius: 24px;
  }

  .community {
    margin-top: 24px;
  }

  .interviews {
    height: 311px;
  }

  /* choose section ends here  */


  /* featured section starts here  */

  .featured {
    padding: 40px 20px;
  }

  .all_featured_cards {
    flex-direction: column;
    gap: 16px;
  }

  .all_featured_cards .featured_card {
    max-width: 400px;
  }

  .featured_upper h1 {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .all_featured_cards .featured_card .video {
    width: 100%;
  }

  .all_featured_cards .featured_card h3 {
    font-size: 1.25rem;
  }

  .all_featured_cards .featured_card .featured_card_text {
    padding: 16px;
  }

  .all_featured_cards .featured_card .featured_card_description {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .featured_lower h1 {
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 2rem;
  }

  .featured .featured_lower .host_img_and_details {
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
  }

  .host_img_and_details .host_img {
    width: 150px;
    height: 150px;
  }

  .host_img_and_details .host_details {
    text-align: center;
  }

  .featured_lower .host_img_and_details .host_details h2 {
    font-size: 1.5rem;
  }

  .host_social_media {
    justify-content: center;
  }

  /* featured section ends here  */


  /* footer section starts here */

  footer {
    height: 248px;
    padding: 40px 20px;
    background-position: center;
    background-size: cover;
  }

  .footer_container .footer_content h1 {
    font-size: 3rem;
    margin-top: 15px;
  }
  
  .footer_social_media_container {
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* footer section ends here  */
}

/* small device ends here  */

/* medium device starts here */

@media screen and (min-width:576px) and (max-width:992px) {

/* nav strats here  */

.nav_container {
  padding-left: 30px;
  padding-right: 30px;
}

/* nav ends here  */


/* banner starts here  */

#banner {
    height: 470px;
  }

  .banner_content {
    margin: 40px 20px;
    height: 386px;
  }

  .img_container {
    width: 220px;
    height: 220px;
  }

  .microphone {
    top: 70px;
    left: 87px;
    width: 46px;
    height: 70px;
  }

  .badge {
    top: 9px;
    left: 160px;
  } 

  .banner_text {
    margin-top: 24px;
  }

  .banner_text h1 {
    font-size: 2.8rem;
  }

  /* banner ends here  */


  /* about section starts here  */

   .about_container {
    width: 100%;
  }

  .about_text {
    margin: 40px 20px;
  }

  .about_text h1 {
    font-size: 2.9rem;
    font-weight: bold;
  }

  .about_text .about_paragraph {
    line-height: 24px;
  }

  .mobile {
    display: block;
  }

  .large {
    display: none;
  }

  .join {
    margin-top: 16px;
  }

  .about_container hr {
    max-width: 650px;
    margin: 40px auto;
  }

  .about_cards_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 20px 40px;
  }

  .about_cards_bottom .about_card h1 {
    font-size: 2.5rem;
  }

  /* about section  ends here  */


  /* choose section starts here  */

  .choose_container {
    padding: 40px 20px;
  }

  .choose_container h1 {
    font-size: 2.9rem;
    margin-bottom: 16px;
  }
  
  .choose_container .all_choose_cards {
    grid-template-areas:  
        "audio        friendly"
        "community    resources"
        "interviews   interviews";

    gap: 16px;    
  }

  .all_choose_cards .choose_card {
    padding: 24px;
    border-radius: 24px;
  }

  .interviews {
    width: 770px;
  }

  /* choose section ends here  */


  /* featured section starts here  */

  .featured {
    padding: 40px 20px;
  }

  .all_featured_cards {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .all_featured_cards .featured_card {
    max-width: 600px;
  }

  .featured_upper h1 {
    font-size: 2.9rem;
    margin-bottom: 24px;
  }

  .all_featured_cards .featured_card .video {
    width: 600px;
  }

  .all_featured_cards .featured_card h3 {
    font-size: 1.5rem;
  }

  .all_featured_cards .featured_card .featured_card_text {
    padding: 20px;
  }

  .all_featured_cards .featured_card .featured_card_description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .featured_lower h1 {
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 2.9rem;
  }

  .featured .featured_lower .host_img_and_details {
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
  }

  .host_img_and_details .host_img {
    width: 200px;
    height: 200px;
  }

  .host_img_and_details .host_details {
    text-align: center;
  }

  .featured_lower .host_img_and_details .host_details h2 {
    font-size: 2rem;
  }

  .host_social_media {
    justify-content: center;
  }

  /* featured section ends here  */


   /* footer section starts here */

  footer {
    height: 248px;
    padding: 40px 20px;
    background-position: center;
    background-size: cover;
  }

  .footer_container .footer_content h1 {
    font-size: 3rem;
    margin-top: 15px;
  }
  
  .footer_social_media_container {
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* footer section ends here  */

} 
/* medium device starts here  */